/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */

 *{
    box-sizing: border-box;
 }
 #map {
    height: 80%;
    width: 80%;
    margin: auto;
    margin-top: 0;
  }

  .map {
    height: 100%;
    width: 100%;
    margin: auto;
    position: relative;
    top: -8%;
  }

  .combobox-input{
    margin: auto;
    padding: 10px;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 1px solid green;
  }

  .places-container{
    text-align: center;
    position: relative;
    top: 0;
    z-index: 1;
  }
  .places-container .div{
    display: inline-block;
  }
  .combobox-input:hover{
    border: 1px solid yellowgreen;
    
  }

  .order-ride{
    padding: 8px;
    border: none;
    background-color: green;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .order-ride:hover{
    background-color: yellowgreen;
  }
  /* 
   * Optional: Makes the sample page fill the window. 
   */
  html,
  body {
    /* background-image: url('../images/map/ridehailing.jpeg'); */
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  #floating-panel {
    position: absolute;
    top: 10px;
    left: 25%;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: "Roboto", "sans-serif";
    line-height: 30px;
    padding-left: 10px;
  }
  
  